.App {
  text-align: center;
}
body{
  background-color: wheat;
}

#login{
  border: 2px solid ;
  width: 400px;
  margin: 15px auto;
  height: 300px;
  background-color: #fffce1;
}

loginh1{
  background-color: #fabd4a;
}
login2 {
  width: 200px;
  margin: auto;
  background-color: #ffc250;
  border-radius: 5px;
}

#formDiv{
  width: 500px;
  height: 500px;
  margin: auto;
  padding: 10px;
  border: 2px solid;
  background-color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
