body {
  background-image: url("https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.navbar {
  background-color: #333;
  height: 80px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 10%;
  margin-top: 30px;
  margin-left: 100px
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.nav-list li a:hover {
  color: #ffcc00;
}

#login {
  border: 2px solid;
  width: 400px;
  margin: 70px auto;
  height: 300px;
  text-align: center;
  /* background-color: #4072a1; */
}

#loginh1 {
  background-color: #55bbf7;
  text-align: center;
}

#loginh2 {
  width: 200px;
  margin: 20px auto;
  /* background-color: #0075d4; */
  border-radius: 5px;
  text-align: center;
}

#formDiv {
  width: 500px;
  height: 500px;
  margin: 30px auto;
  padding: 10px;
  border: 2px solid;
  background-color: white;
}

.submitform {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#feedbackform{
  background-color: #fff;
  /* text-align: center; */
}
#Question{
  /* text-align: center; */
  margin-left: 10px;
}
.head {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}