body {
  background-image: url("https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-repeat: no-repeat; 
 } 

#bg{
  height: calc(100vh - 80px);
}








.navbar {
  background-color: #333;
  height: 80px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 10%;
  margin-top: 30px;
  margin-left: 100px
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.nav-list li a:hover {
  color: #ffcc00;
}

#login {
      border: 10px solid rgb(171, 208, 243);
        width: 450px;
        margin: 70px auto;
        height: 500px;
        text-align: center;
        box-shadow: 0px 0px 12px 5px #4685f7;
        background-color: #ffffff;
  /* background-color: #edfffd; */
}

#loginh1 {
  background-color: #55bbf7;
  text-align: center;
}

#loginh2 {
  width: 200px;
  margin: 50px auto;
  /* background-color: #0075d4; */
  border-radius: 5px;
  text-align: center;
  font-size: 40px;
}
#loginh3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

#formDiv {
  width: 500px;
  height: 500px;
  margin: 30px auto;
  padding: 10px;
  border: 2px solid;
  background-color: white;
        box-shadow: 0px 0px 12px 5px #4685f7;
        border: 10px solid rgb(171, 208, 243);
}

.submitform {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#feedbackform{
  background-color: #fff;
  /* text-align: center; */
}
#Question{
  /* text-align: center; */
  margin-left: 10px;
}
.head {
  text-align: center;
}
.login_sing{
  margin: 10px 30px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}